APP_ENV=dev
APP_DEBUG=true
APP_KEY=DTYKsUoeNa7Fbb5ThJSk4Dybzpk4Cjvf

APP_URL=http://tokyo-tower.dev/
APP_DOMAIN=tokyo-tower.dev
APP_PORT=80

BROWSER_SYNC=true
BROWSER_SYNC_HOST=localhost
BROWSER_SYNC_PORT=3000

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_DRIVER=file

SESSION_DRIVER=file

QUEUE_DRIVER=sync

MAIL_DRIVER=mail
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME=null

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211
MEMCACHED_WEIGHT=100

ROUTES_CACHE=false
ASSET_CACHE=false
LINK_POLICY=detect
ENABLE_CSRF=false
