// Slider:
.slider {
    margin-bottom: -12rem;
}

.swiper-container,
.background-wrapper {
    background: #000000;
    height: 100%;
    width: 100%;
}

.swiper-slide {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    .background {
        height: 100vh;
        overflow: hidden;
        width: 100%;
        display: block;
        background-position: center;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
}
